
html {
    font-family: Helvetica, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

h1, h2 {
    margin: 0;
}

input, textarea, button {
    border: none;
    outline: none;
    box-shadow: none;
}

p {
    margin: 5px 0;
    line-height: 18px;
}

.container {
  padding: 0 25px;
}

.top {
  width: 100%;
  min-height: 200px;
  background: url("../img/top-header.jpg") no-repeat center center;
  background-size: 100% auto;
  position: relative;
  overflow: hidden;
}

.wrote {
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 107px;
    height: 90px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #0095da;
    font-size: 13px;
    line-height: 13px;
    color: #fff;
    z-index: 1;
}

.wrote__num {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
}

.triangle {
    position: relative;
    left: 80px;
    bottom: -148px;
    width: 100%;
    height: 189px;
    background-color: #fff;
    transform: rotate(153deg) skew(20deg,20deg);
}

.triangle.triangle-white {
  border-bottom-color: #ffffff;
}

.slogan {
    margin: 10px 0 15px 0;
}

.slogan h1 {
    font-size: 46px;
    line-height: 45px;
}

.wrap {
    position: relative;
    z-index: 0;
}

.petition {
    margin-bottom: 50px;
    padding: 15px 0;
    font-size: 14px;
}

.petition__paper {
    padding: 20px 0;
    background-color: #f7f5e9;
}

.petition__paper {
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative;
}

.petition__paper:before {
    content: '';
    position: absolute;
    width: 100%;
    border-radius: 50%;
    height: 20px;
    bottom: 5px;
    left: 0;
    right: 0;
    background-color: #f7f5e9;
    box-shadow:         0px 11px 30px 5px rgba(64, 20, 18, 0.58);
    z-index: -1;
}

.whom {
    margin-bottom: 10px;
}

.form__row {
    margin-bottom: 10px;
}

.form__input {
    width: 100%;
    height: 28px;
    padding: 0 5px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-bottom: 1px solid #ababab !important;
    background-color: #fff;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

.form__input:focus {
    border: 1px solid #85beff;
}

.form__input--short {
    width: 120px;
    margin-right: 5px;
}

.form__input--error {
    border: 1px solid #ff4141;
}

.form__comment {
    font-size: 16px;
    line-height: 16px;
    color: #7f7f7f;
    text-align: center;
}

.petition__text {
    margin-top: 40px;
}

.petition__text strong {
    display: block;
    text-align: center;
}

.petition__date {
    text-align: right;
}

.petition__controls {
    margin: 30px 0;
    text-align: center;
}

.petition__sign {
    position: relative;
    width: 100%;
    height: 125px;
    margin-top: 15px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #fff;
}

.text_link {
    display: inline-block;
    line-height: 13px;
    color: #0096ff;
    border-bottom: 1px solid #0096ff;
    cursor: pointer;
}

.petition__sign .text_link {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.petition__send {
    padding: 25px 15px;
    box-sizing: border-box;
    background-color: #ebebeb;
    font-size: 16px;
}

.container--petition__send {
    padding: 0 10px;
}

.form__checkbox {
    position: absolute;
    left: -9999px;
}

.label_checkbox {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 5px;
    cursor: pointer;
}

.label_checkbox:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 1px solid #ababab;
}

.label_checkbox:after {
    content: '';
    position: absolute;
    left: 4px;
    top: -5px;
    width: 17px;
    height: 17px;
    background-image: url(../img/icon-checkbox.png);
    display: none;
}


.form__checkbox:checked + .label_checkbox:after {
    display: block;
}

.subscribe {
    padding-bottom: 10px;
    margin-top: 25px;
    font-size: 14px;
    text-align: center;
}

.subscribe label {
    text-align: center;
}

.subscribe__input {
    display: block;
    width: 225px;
    height: 38px;
    margin: 5px auto 0 auto;
    padding: 0 10px;
    border: 1px solid #ababab;
    box-sizing: border-box;
    font-size: 16px;
}

.subscribe__input:focus {
    border: 1px solid #85beff;
}

.subscribe__button {
    width: 225px;
    height: 51px;
    margin-top: 18px;
    background-color: #ff0000;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: .8;
}

.subscribe__button:hover {
    opacity: 1;
}

.footer {
    padding: 30px 0;
    background-color: #f0f0f0;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexbox__item {
    text-align: center;
}

.flexbox__item:first-child {
    margin-bottom: 25px;
}

.more_margin {
    margin-bottom: 25px;
}

