#trolleybus {
    padding: 0;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

#trolleybus .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
}

#trolleybus p {
    line-height: 28px;
    padding: 0;
}

#trolleybus .navbar {
    margin-bottom: 0;
}

#trolleybus .navbar-default {
    background-color: #fff;
    border: none;
}

#trolleybus .navbar-header {
    width: 100%;
}

#trolleybus .header {
    min-height: 93px;
    padding: 20px 0 7px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #009fe3;
}

#trolleybus .header__target {
    font-size: 14px;
    line-height: 16px;
    margin: 7px 0 0 100px;
}

#trolleybus .header__logo img {
    margin-left: 45px;
}

.call_controls {
    margin: 30px 0 0 100px;
}

.call_controls__time, .call_controls__button {
    display: inline-block;
    vertical-align: bottom;
}

.call_controls__time {
    line-height: 32px;
    margin-right: 6px;
    color: #959595;
}

#trolleybus .content {
    padding: 23px 0 0 100px;
}

#trolleybus .col-md-4, #trolleybus .col-md-6, #trolleybus .col-md-8, #trolleybus .col-md-11, #trolleybus .col-md-12 {
    padding: 0;
}

#trolleybus .title {
    margin-bottom: 10px;
}

#trolleybus .rightbar .title {
    margin: 0 57px 17px 0;
}

#trolleybus .btn {
    height: 36px;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    vertical-align: bottom;
    border-radius: 0;
    border: 1px solid transparent;
    box-sizing: border-box;
    outline: none;
}

#trolleybus .btn, #trolleybus .btn:hover {
    transition: none !important;
}

#trolleybus .btn-danger {
    width: 145px;
    background-color: #ed1c24;
    color: #fff;
}

#trolleybus .btn-danger:hover {
    background-color: #d9161d;
}

#trolleybus .btn-default {
    width: 255px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #009fe3;
    color: #009fe3;
    float: none !important;
}

#trolleybus .btn-default:hover {
    color: #ed1c24;
    border: 1px solid #ed1c24;
    z-index: 99;
}

#trolleybus .btn-default.active {
    background-color: #009fe3;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: none;
}

#trolleybus .btn-primary {
    width: 255px;
    height: 60px;
    font-size: 24px;
    background-color: #009fe3;
    color: #fff;
    border: none;
    margin-top: 30px;
    opacity: .9;
}

#trolleybus .btn-primary:hover {
    opacity: 1;
}

#trolleybus strong {
    margin-bottom: 5px;
}

#trolleybus .leftbar .col-md-11 {
    margin-bottom: 15px;
}

#trolleybus .leftbar p {
    margin-top: 7px;
}

#trolleybus .rightbar {
    position: relative;
}

#trolleybus .tip {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    margin: 0 auto 50px auto;
    padding: 10px 40px;
    background-color: #e7f4f9;
    border: 1px solid #009fe3;
    text-align: left;
    z-index: 99;
    box-shadow: 0px 0px 60px 1px rgba(0, 0, 0, 0.5);
}

#trolleybus .tip .close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 19px;
    height: 21px;
    background-image: url(../icon-close.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
    outline: none;
}

#trolleybus .tip .close:hover {
    background-position: -19px 0;
}

#trolleybus a {
    color: #009fe3;
    border-bottom: 1px solid #009fe3;
}

#trolleybus a:hover {
    border-bottom: 1px solid #ed1c24;
    text-decoration: none;
    color: #ed1c24;
}

#trolleybus .form {
    width: 255px;
    margin-top: 20px;
}

#trolleybus .form__input {
    width: 100%;
    height: 36px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 10px;
}

#trolleybus .form__input:focus {
    border: 1px solid #009fe3;
}

@media (min-width: 992px) {

    #trolleybus .container {
        width: 932px;
    }

    #trolleybus .rightbar {
        text-align: right;
    }

    #trolleybus .tip {
        left: -595px;
        width: 590px;
        margin: 42px 0 50px 0;
    }

    #trolleybus .tip:after {
        display: block;
    }

    #trolleybus .form {
        display: inline-block;
    }

    #trolleybus .call_controls {
        text-align: right;
    }

    .call_controls {
        margin: 30px 0 0 0;
    }

    #trolleybus .header__target {
        margin: 7px 0 0 0;
    }

    #trolleybus .btn-primary {
        width: 365px;
    }
}